.searchBar {
  display: flex;
  margin: 2rem 8rem;
}
.input {
  background-color: transparent;
  border: solido 2px;
  border-color:#524f4f3a ;
  border-radius: 9999px;
  color: #ffffff5e;
  font-size: 2rem;
  font-weight: 300;
  width: 20rem;
  

}
.input:focus {
  outline: none;
}
.input::placeholder {
  color: #ffffff85;
}

.button {
  border: solid 2px transparent;
  border-radius: 9999px;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: background-color 0.25s;
  cursor: pointer;
  color: #ffffff;
}
.button:hover {
  background-color: #ffffff60;
}
